<template>
<div>
    <div v-if="editMode" class="row">
        <div class="col-2"><input type="text" v-model="localData.etsy_attribute_1"></div>
        <div class="col-2"><input type="text" v-model="localData.etsy_attribute_2"></div>
        <div class="col-1"></div>
        <div class="col-2"><input type="text" v-model="localData.shopify_attribute_1"></div>
        <div class="col-2"><input type="text" v-model="localData.shopify_attribute_2"></div>

        <div class="col-1"></div>
        <div class="col-2"><button @click="this.updateItem">Save</button></div>

    </div>
    <div v-else class="row">
        <div class="col-2">{{localData.etsy_attribute_1}}</div>
        <div class="col-2">{{localData.etsy_attribute_2}}</div>
        <div class="col-1"></div>
        <div class="col-2">{{localData.shopify_attribute_1}}</div>
        <div class="col-2">{{localData.shopify_attribute_2}}</div>

        <div class="col-1"></div>
        <div class="col-2"><a href="#" @click="this.enableEditMode">Edit</a> | <a href="#" @click="deleteItem">Delete</a> </div>
    </div>
    <div v-if="this.userAlert.length > 0" class="row">
        <div class="col-12">{{userAlert}}</div>
    </div>
    <br/>
</div>
</template>

<script>
export default {
    name: "AttributeRelationItemComponent",
    props: ['itemData', 'itemIndex'],
    data() {
        return {
            editMode: false,
            localData: {},
            userAlert: ''
        }
    },
    mounted() {
        // this.localData = Object.assign({}, this.itemData);
        this.localData = this.itemData;
        console.log(this.localData);
    },
    methods: {
        enableEditMode: function() {
            // this.editingData = Object.assign({}, this.localData);
            this.editMode = true;

        },
        updateItem: function () {
            this.userAlert = "";
            if(this.$parent.hasDuplicates(this.editingData)) {
                //there is a duplicate of this entry already
                this.userAlert = "Duplicate of existing mapping";
            } else {
                console.log(this.editingData);
                // this.localData = this.editingData;
                this.editMode = false;
                let result = this.$parent.addOrUpdateItem(this.localData);
                if (!result) {
                    this.userAlert = "DATA NOT UPDATED! REFRESH PAGE.";
                }
            }
        },
        deleteItem: function () {
            this.$parent.deleteItem(this.localData);
        },

    }
}
</script>

<style>

</style>
