<template>
    <div class="container">
        <div class="table">
            <div class="row">
                <div class="col-5"><h4>Etsy</h4></div>
                <div class="col-4"><h4>Shopify</h4></div>
            </div>
            <div class="row">
                <div class="col-2"><h5>Attribute 1</h5></div>
                <div class="col-2"><h5>Attribute 2</h5></div>
                <div class="col-1"></div>
                <div class="col-2"><h5>Attribute 1</h5></div>
                <div class="col-2"><h5>Attribute 2</h5></div>
            </div>
            <div class="row">
                <div class="col-2"><input type="text" v-model="editingAttribute.etsy_attribute_1"></div>
                <div class="col-2"><input type="text" v-model="editingAttribute.etsy_attribute_2"></div>
                <div class="col-1"></div>
                <div class="col-2"><input type="text" v-model="editingAttribute.shopify_attribute_1"></div>
                <div class="col-2"><input type="text" v-model="editingAttribute.shopify_attribute_2"></div>

                <div class="col-1"></div>
                <div class="col-2"><button @click="addOrUpdateItem(editingAttribute)">Add</button></div>

            </div>
            <br/><br/>
            <attribute-relation-item
                v-for="(item, index) in attributeItems"
                v-bind:key="item.id"
                :item-index="index"
                :item-data="item"
            ></attribute-relation-item>

        </div>
    </div>
</template>
<script>
    export default {
        name: "AttributeRelationContainerComponent",
        data() {
            return {
                attributeItems: [],
                editingAttribute: {
                    id: null,
                    etsy_attribute_1: '',
                    etsy_attribute_2: '',
                    shopify_attribute_1: '',
                    shopify_attribute_2: ''
                }
            }
        },
        mounted() {
            axios.defaults.headers.common['Authorization'] = "Bearer "+ Laravel.apiToken.token;
            axios.get('/api/etsy2shop/getattributerelations')
                .then(response => {
                    this.attributeItems = response.data;
                }, error => {
                    console.error(error);
                });
        },
        methods: {
            addOrUpdateItem: function(attributes) {
                let itemFound = false;
                let foundIndex = -1;
                //check whether there's a etsy mapping already in this page. If there is an item, just update it
                this.attributeItems.forEach((item, index) => {
                    if (this.hasSameAttributes(item, attributes)) {
                        itemFound = true;
                        foundIndex = index;
                    }
                });

                //if an item was not found in this page, create a new one on the attribute item array
                if(!itemFound) {
                    let cloneAttributes = Object.assign({}, attributes);
                    this.attributeItems.push(cloneAttributes);

                    //do save finally.
                    this.saveMappings(attributes);
                    return true;
                } else {
                    console.warn("Existing item");
                    return false;
                }
            },
            deleteItem: function (attributes) {
                let deletingIndex = -1;
                this.attributeItems.forEach((item, index) => {
                    if(this.hasSameAttributes(item, attributes)) {
                        deletingIndex = index;
                    }
                });

                if (deletingIndex !== -1) {
                    this.removeMappings(attributes);
                    this.attributeItems.splice(deletingIndex, 1);
                }

            },
            saveMappings: function(attributes) {
                // console.log(this.hasDuplicates());
                //there is no need to check for duplicates. We do not update when all params are the same.
                axios.post('/api/etsy2shop/setattributerelation', attributes).then(
                    response => {
                        console.log(response.data);
                    }, error => {
                        console.error(error);
                    }
                );
            },
            removeMappings: function (attributes) {
                axios.post('/api/etsy2shop/removeattributerelation', attributes).then(
                    response => {
                        console.log(response.data);
                    }, error => {
                        console.error(error);
                    }
                );
            },
            hasDuplicates: function(attributes) {
                let itemFound = false;
                this.attributeItems.forEach((item, index) => {
                    if(JSON.stringify(item) === JSON.stringify(attributes)) {
                        itemFound = true;
                    }
                });

                return itemFound;
            },
            hasSameAttributes: function(a, b) {
                if(a.etsy_attribute_1 === b.etsy_attribute_1 &&
                    a.etsy_attribute_2 === b.etsy_attribute_2 &&
                    a.shopify_attribute_1 === b.shopify_attribute_1 &&
                    a.shopify_attribute_2 === b.shopify_attribute_2) {
                    return true;
                }

                return false;
            }
        }

    }
</script>
