<template>


    <div class="row mappingItem">
        <div class="col-md-1">
            <input type="checkbox"
                   v-if="!isListingSaved"
                   ref="bulkSelection"
                   @click="changeHomeBulkSaveMode"
                   v-model="isItemSelectedForBulkSave"
            ></div>
        <div class="col-md-3">{{this.listingId}}</div>
        <div class="col-md-6">{{this.listingName}}</div>
        <div class="col-md-2">
            <button class="btn-success" v-if="!isListingSaved && !isItemSelectedForBulkSave" @click="saveListingId">Add Data</button>
            <button class="btn-info" v-else-if="isListingSaved && !isListingMapped" @click="showMappingPage">Manage Mapping</button>
            <div v-else-if="isListingSaved && isListingMapped">
                Mapped | <a href="#" @click="showMappingPage">Edit</a>
            </div>
            <div v-if="this.loadingMessage.length > 0">{{ this.loadingMessage }}</div>
        </div>

    </div>

</template>

<script>
    export default {
        name: "EtsyMappingStatusItemComponent",
        data() {
            return {
                isListingSaved: false,
                isListingMapped: false,
                isItemSelectedForBulkSave: false,
                loadingMessage: ""
            }
        },
        props: ['listingId', 'listingName', 'index', 'checkAndEnableHomeBulkMode'],
        mounted() {
            axios.defaults.headers.common['Authorization'] = "Bearer "+ Laravel.apiToken.token;

            axios.get('/api/etsy2shop/getsavedlisting/' + this.listingId).
            then(response => {
                this.isListingSaved = true;
                let variants = response.data.variants;
                this.$parent.updateState(this.index, 'Saved');

                variants.forEach((item, index) => {
                   if(item.shopify_variant_id != null) {
                       this.isListingMapped = true;
                       this.$parent.updateState(this.index, 'Mapped');
                       return;
                   }
                });

            }, error => {
                if(error.response.status === 404) {
                    this.isListingSaved = false;
                    this.$parent.updateState(this.index, 'Not Saved');
                }
            });
        },
        methods: {
            getSaved: function () {
                return this.isListingSaved;
            },
            setSelectedForBulkSave: function (value) {
                console.log(value);
                if(!this.isListingSaved) {
                    this.isItemSelectedForBulkSave = value;
                }
                //execute the method in the parent, to show and hide the submit button

            },
            getSelectedForBulkSave: function() {
                return this.isItemSelectedForBulkSave;
            },
            changeHomeBulkSaveMode: function () {
                this.isItemSelectedForBulkSave = this.$refs.bulkSelection.checked;
                this.checkAndEnableHomeBulkMode();
            },
            saveListingId: function() {
                this.loadingMessage = "Saving...";
                axios.get('/api/etsy2shop/saveetsylistings/'+ this.listingId)
                    .then(response => {
                        this.isListingSaved = true;
                        this.loadingMessage = "";
                    });
            },
            bulkSaveListingId: function() {
                if(this.isItemSelectedForBulkSave) {
                    this.loadingMessage = "Saving...";
                    axios.get('/api/etsy2shop/saveetsylistings/' + this.listingId)
                        .then(response => {
                            this.isListingSaved = true;
                            this.isItemSelectedForBulkSave = false;
                            this.loadingMessage = "";
                            return true;
                        }, error => {
                            return false;
                        });
                } else {
                    console.log('item not selected for bulk: ' + this.listingId);
                    return true;
                }

                return false;
            },
            showMappingPage: function() {
                window.open ("/mapping/" + this.listingId);
            }

        }
    }
</script>

<style scoped>
    .mappingItem {
        margin-bottom: 5px;
    }
</style>
