<template>


    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <label for="search-term">Search:</label>
                <input type="text" 
                    id="search-term" 
                    ref="searchTermText" 
                    v-model="searchTerm"
                    @change="reloadDataWithFilter" />
                <button v-if="searchTerm.length > 0" @click="function() { searchTerm = ''; reloadDataWithFilter()}">Clear</button>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="mapping-type">Select type:</label>
                    <select class="form-control" id="mapping-type" ref="mappingTypeSelection" v-on:change="reloadDataWithFilter" v-model="filterString">
                        <option>All</option>
                        <!-- <option>Not Saved</option> -->
                        <option>Saved</option>
                        <option>Mapped</option>
                    </select>
                </div>
            </div>
            <div class="col-md-2"><button v-if="filterString !== 'All'" @click="reloadDataWithFilter">Filter</button> </div>
        </div>
        <div class="row">
            <div class="col-md-1"><input type="checkbox" v-on:change="selectAllItemsForBulkSave()" v-model="allUnsavedSelected"> </div>
            <div class="col-md-3">Listing ID</div>
            <div class="col-md-6">Listing Name</div>
            <div class="col-md-2">Actions</div>
        </div>
        
        <mapping-status-item class="row" v-for="(dataItem, key) in completeDataset"
                            v-bind:key="dataItem.listing_id"
                             :listing-id="dataItem.listing_id"
                             :listing-name="dataItem.title"
                             :index="key"
                             ref="mappingStatusItem"
                             :checkAndEnableHomeBulkMode="checkAndEnableBulkMode"
        >
        </mapping-status-item>
        <div class="row"><div class="col-12">{{ loadingMessage }}</div> </div>
        <paginate
            :page-count="paginationPageCount"
            :container-class="'pagination'"
            :page-class="'page-item'"
            :click-handler="paginateOnClick"
            v-model="paginatePage">
        </paginate>
        <button v-if="bulkSaveMode" class="btn-info" @click="saveAllSelected()">Submit</button>
    </div>
</template>

<script>
    export default {
        name: "HomeComponent",
        data()  {
            return {
                completeDataset: null,
                filterString: "All",
                searchTerm: "",
                allUnsavedSelected: false,
                bulkSaveMode: false,
                paginatePage: 1,
                paginateItemsPerPage: 50,
                paginationPageCount: 1,
                paginationStats: {
                    totalItems: 0,
                    totalPages: 1,
                },
                loadingMessage: ''
            }
        },
        mounted() {
            axios.defaults.headers.common['Authorization'] = "Bearer "+ Laravel.apiToken.token;

            this.loadInitialDataset();


        },
        methods: {
            selectAllItemsForBulkSave: function () {
                //handles the select all and select none both
                for (let i = 0; i < this.$refs.mappingStatusItem.length; i++) {
                    this.$refs.mappingStatusItem[i].setSelectedForBulkSave(this.allUnsavedSelected);
                }
                this.checkAndEnableBulkMode();
            },
            checkAndEnableBulkMode: function() {
                for (let i = 0; i < this.$refs.mappingStatusItem.length; i++) {
                    if(this.$refs.mappingStatusItem[i].getSelectedForBulkSave()) {
                        this.bulkSaveMode = true;
                        return;
                    }
                }
                this.bulkSaveMode = false;
            },
            updateState: function(index, state) {
                if(this.completeDataset.length > index) {
                    this.completeDataset[index].mappingState = state;
                }
            },
            saveAllSelected: function () {
                this.bulkSaveMode = false;
                for (let i = 0; i < this.$refs.mappingStatusItem.length; i++) {
                    if(this.$refs.mappingStatusItem[i].bulkSaveListingId()) {
                        console.log("Saved listing" + this.$refs.mappingStatusItem[i].listingName);

                    } else {
                        console.error("save failed");
                    }
                }

            },
            loadInitialDataset: function() {
                //get all the listings from the API. populate each item from this data
                this.paginatePage = 1;
                axios.get('/api/etsy2shop/getetsylistingscount')
                    .then(response => {
                        console.log(response.data.count);
                        this.paginationPageCount = Math.ceil(response.data.count / this.paginateItemsPerPage);
                        console.log('pages=' + this.paginationPageCount);
                        this.paginationStats.totalItems = reponse.data.count;
                        this.paginationStats.totalPages = Math.ceil(response.data.count / this.paginateItemsPerPage);
                        console.log("total="+ this.paginationStats.totalPages);
                    });
                this.loadingMessage = "Getting data...";
                axios.get('/api/etsy2shop/getetsylistings/1')
                    .then(response => {
                        console.log(response.data);
                        this.completeDataset = response.data;
                        this.loadingMessage = '';

                    });
            },
            reloadDataWithFilter: function() {
                this.completeDataset = [];
                this.paginatePage = 1;
                this.loadingMessage = "Fetching data...";


                //if there is a search term, use that not the filters.
                if(this.searchTerm.trim() !== "" && this.searchTerm.trim().length > 5) {
                    this.paginationPageCount = 1;
                    axios.get('/api/etsy2shop/search/id/' + this.searchTerm)
                    .then(response => {
                        console.log(response.data);
                        this.completeDataset.push(response.data);
                        this.loadingMessage = '';
                    });

                    return;
                }

                let mode = this.filterString.replace(' ', '').toLowerCase();
                if (mode === "all") {
                    this.loadInitialDataset();
                    return;
                }

                //first find the result page size
                axios.get('/api/etsy2shop/search/count/' + mode)
                    .then(response => {
                        console.log(response.data.count);
                        this.paginationPageCount = Math.ceil(response.data.count / this.paginateItemsPerPage);
                    });

                if(mode !== "notsaved") {
                    axios.get('/api/etsy2shop/search/' + mode + "/1")
                        .then(response => {
                            console.log(response.data);
                            this.completeDataset = response.data;
                            this.loadingMessage = '';
                        });
                } else {
                    let currentPage = 1;
                    console.log(this.completeDataset.length);
                    console.log(this.paginationStats.totalPages);
                    console.log(currentPage);
                    while(this.completeDataset.length < 50 && currentPage < this.paginationStats.totalPages) {
                        axios.get('/api/etsy2shop/search/' + mode + "/" + currentPage++)
                        .then(response => {
                            console.log(response.data);
                            this.completeDataset.push(response.data);
                            this.loadingMessage = 'Fetching Data... ' + currentPage + "/" + this.paginationStats.totalPages;
                        });
                    }
                    this.loadingMessage = '';
                }
            },
            paginateOnClick: function () {
                this.completeDataset = [];
                this.loadingMessage = "Fetching data...";
                if(this.filterString === "All") {
                    axios.get('/api/etsy2shop/getetsylistings/' + this.paginatePage)
                        .then(response => {
                            console.log(response.data);
                            this.completeDataset = response.data;
                            this.loadingMessage = '';
                        });
                } else {
                    let mode = this.filterString.replace(' ', '').toLowerCase();
                    axios.get('/api/etsy2shop/search/' + mode + "/" + this.paginatePage)
                        .then(response => {
                            console.log(response.data);
                            this.completeDataset = response.data;
                            this.loadingMessage = '';
                        });
                }
            }
        }
    }
</script>

<style scoped>

</style>
