<template>
    <div class="container">

        <div class="row">
            <div class="col-md-4" v-html="attributeString"></div>
            <div class="col-md-2"></div>
            <div class="col-md-4"><input type="text" v-model="shopifyVariantId" class="sku-id"/></div>
            <div class="col-md-2" ref="result" hidden>{{mappingResult}}</div>
        </div>
        <br>
    </div>
</template>

<script>
    export default {
        name: "MappingItemComponent",
        props: ['variantId'],
        data() {
            return {
                variantData: null,
                shopifyVariantId: null,
                mappingResult: "Pending",
                attributeString: null
            }

        },
        mounted() {
            axios.get('/api/etsy2shop/getsavedvariant/' + this.variantId)
                .then(response => {
                    this.variantData = response.data;
                    if(response.data.shopify_variant_id != null) {
                        this.shopifyVariantId = response.data.shopify_variant_id;
                    }
                    if(this.variantData.attribute_1.length > 0 && this.variantData.attribute_2.length > 0) {
                        this.attributeString = this.variantData.attribute_1 + "," + this.variantData.attribute_2
                    } else if(this.variantData.attribute_1.length > 0) {
                        this.attributeString = this.variantData.attribute_1;
                    } else {
                        //there are no variants, thus no attribute
                        this.attributeString = this.$parent.listingTitle;
                    }
                });
        },
        methods: {
            createMapping: function () {
                console.log('Creating mapping between product_ref=' + this.productRef + " with sku "+ this.shopifyVariantId);
                axios.post('/api/etsy2shop/setmapping/' + this.variantId +'/'+ this.shopifyVariantId)
                    .then(response => {
                        console.log(response);
                        this.mappingResult = (response.data.success) ? "OK" : "Fail";
                        this.$refs.result.removeAttribute('hidden');
                        return true;
                    });


            },
            setSku: function(sku) {
                this.shopifyVariantId = sku;
            },
            getVariantId: function () {
                return this.variantData.variant_id;
            }
        }
    }

</script>

<style scoped>

</style>
