<template>

    <div class="container">
        <div class="h2">{{listingTitle}}</div>
        <div class="h3" v-html="listingDescription"></div>

        <div class="row">
            <div class="col-md-8 col-sm-12">
                <div v-if="imagesPresent" class="row">
                    <div class="col-6">Etsy item</div>
                    <div class="col-6">Shopify item</div>
                </div>
                <div v-if="imagesPresent" class="row">
                    <div class="col-6"><img width="200px" :src="etsyImage" /></div>
                    <div class="col-6"><img width="200px" :src="shopifyImage" /></div>
                </div>
                <div class="row">
                    <div class="col-4"></div>
                    <div class="col-4"></div>
                    <div class="col-4">Variant ID</div>
                </div>
                <mapping-item-component
                    v-for="(variantId, itemIndex) in this.variantIds"
                    v-bind:key="itemIndex"
                    :variant-id="variantId"
                    ref="mappingItem"
                ></mapping-item-component>

                <br/>
                <button class="btn-info" @click="createMappings">Save</button>
            </div>
            <div class="col-md-4 col-sm-12">
                <div class="card">
                    <div class="card-header">Auto-fill Variant ID</div>
                    <div class="card-body">
                        <label for="shopify-product-id">Shopify Product ID: </label>
                        <input id="shopify-product-id" type="text" v-model="shopifyProductId" />

                        <button v-on:click="fetchIdsFromAttributeMap()">Fetch IDs</button>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">Create Attribute Mappings</div>
                    <div class="card-body">
                        To map each Etsy and Shopify variant attribute, click here.
                        <button v-on:click="gotoAttributeMap" class="btn-info">Attribute Mappings</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import MappingItemComponent from "./MappingItemComponent";
    export default {
        name: "MappingItemsContainer",
        components: {MappingItemComponent},
        props: ['listingId'],
        data() {
            return {
                variantIds: null,
                listingTitle: null,
                listingDescription: null,
                shopifyProductId: null,
                apiToken: null,
                imagesPresent: false,
                etsyImage: null,
                shopifyImage: null
            }
        },
        methods: {
            fetchIdsFromAttributeMap: function() {

                //fetch data from the 4 column input
                axios.get('/api/etsy2shop/getvariantmappings/'+ this.listingId +'/' + this.shopifyProductId)
                    .then(response => {
                        let variants = response.data;
                        let matchFound = false; //checks whether a match was found

                        for(let i=0;i < variants.length;i++) {
                            //for each variant,
                            for (let j = 0; j < this.$refs.mappingItem.length; j++) {
                                if(this.$refs.mappingItem[j].getVariantId() === variants[i].etsy_variant) {
                                    this.$refs.mappingItem[j].setSku(variants[i].shopify_variant);
                                    matchFound = true;
                                    if(!this.imagesPresent) {
                                        this.updateImages();
                                        this.imagesPresent = true;
                                    } else {
                                        console.log('images are present');
                                    }
                                    break;
                                }
                            }
                        }

                        //if no match was found, and there is only one etsy variant, we assume this is a
                        //  non variant type etsy listing. check whether only one shopify item exists.
                        if(!matchFound && this.$refs.mappingItem.length == 1) {
                            axios.get('/api/etsy2shop/getshopifyvariants/' + this.shopifyProductId)
                                .then(response => {
                                    if(response.data.length == 1) {
                                        let shopifyVariantData = response.data[0];
                                        this.$refs.mappingItem[0].setSku(response.data[0].id);
                                        if(!this.imagesPresent) {
                                            this.updateImages();
                                            this.imagesPresent = true;
                                        } else {
                                            console.log('images are present');
                                        }
                                    } else {
                                        console.log('More than 1 item in shopify. skipping population');
                                    }
                                }, error => {
                                    console.error('something went wrong with the app');
                                })
                        }
                    }, error => {
                        console.log('no such product ID in shopify');
                    });

            },
            createMappings: function() {
                for (let i = 0; i < this.$refs.mappingItem.length; i++) {
                    var item = this.$refs.mappingItem[i];
                    var result = item.createMapping();

                }
            },
            gotoAttributeMap: function() {
                window.location.pathname = "/attributes";
            },
            updateImages: function() {
                axios.get('/api/etsy2shop/getetsylistingimage/'+ this.listingId)
                    .then(response => {
                        this.etsyImage = response.data.url_170x135;
                    }, error => {

                    });

                axios.get('/api/etsy2shop/getshopifyproductimage/'+ this.shopifyProductId)
                    .then(response => {
                        this.shopifyImage = response.data[0].src;
                    }, error => {

                    });
                this.imagesPresent = true;
            }
        },
        mounted() {

            var refsArray = [];

            this.apiToken = Laravel.apiToken.token;
            axios.defaults.headers.common['Authorization'] = "Bearer "+ this.apiToken;
                console.log("listing id=" + this.listingId);
            axios.get('/api/etsy2shop/getsavedlisting/' + this.listingId)
                .then(savedResponse => {
                    console.log(savedResponse.data);
                    let listing = savedResponse.data;

                    this.listingTitle = listing.title;
                    this.listingDescription = listing.description;
                    this.shopifyProductId = listing.sku;

                    //this item should be displayed. Get the product refs (variant IDs) for this listing
                    for (let j = 0; j < listing.variants.length; j++) {
                        refsArray.push(listing.variants[j].variant_id);
                    }

                    console.log(refsArray);

                    this.variantIds = refsArray;
                });
        }

    }
</script>

<style scoped>

</style>
