<template>
    <div class="container">
        <h3>Etsy private information not accessible</h3>
        <div>In order to see the transactions from Etsy, you need to authorize this application to access the data.<br/>
            You might need to login to Etsy if you are not already logged in.</div>

        <button class="btn-info" v-on:click="doRedirect()">Authorize App</button>
    </div>
</template>

<script>
    export default {
        name: "RedirectionCountdownComponent",
        data() {
            return {

            }
        },
        mounted() {

        },
        methods: {
            doRedirect: function() {
                window.location.pathname = '/etsyoauth';
            }
        }
    }
</script>

<style scoped>

</style>
