<template>

    <div class="container">
    <div class="row">
            <div class="col-md-2">
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="defaultUnchecked"   v-on:change="selectTrackingAllItemsForBulkSave()" v-model="allUnsavedTrackingSelected"
                     >
                    <label class="custom-control-label" for="defaultUnchecked"></label>
                </div>
            </div>
            <div class="col-md-6">
                 <label for="search-term">Search Order:</label>
                <input type="number" 
                    id="search-term" 
                    ref="searchTermText" 
                    v-model="searchTerm" />
                <button v-if="searchTerm.length > 0" @click="function() {  reloadDataFilter()}">Go</button>
            </div>
             <div class="col-md-11"> 
                <button v-if="bulkSaveMode" class="btn-info" style="float: right;
                    margin-top: 20px;" @click="saveTrackingAllSelected()">Submit</button>
            </div>
        <tracking-item
            v-for="(transactionItem, index) in transactionItems"
            v-bind:key="index"
            :receipt-id="transactionItem.receipt_id"
            :transactionData="transactionItem"
            ref="mappingTrackingStatusItem"
            :checkAndEnableTrackingBulkMode="checkAndEnableTrackingBulkMode">
        </tracking-item>
         <FlashMessage></FlashMessage>
        <div class="col-md-12">
         <div class="row"><div class="col-12">{{ loadingMessage }}</div> </div>
          <paginate
            :page-count="paginationPageCount"
            :container-class="'pagination'"
            :page-class="'page-item'"
            :click-handler="paginateOnClick"
            v-model="paginatePage">
        </paginate>
       </div>
    </div>
    </div>
 </div> 
</template>
<script>
    export default {
        name: "TrackingMappingContainerComponent",
        data() {
            return {
                transactionItems: null,
                paginatePage: 1,
                searchTerm:'',
                bulkSaveMode: false,
                allUnsavedTrackingSelected: false,
                paginateItemsPerPage: 10,
                paginationPageCount: 1,
                paginationStats: {
                    totalItems: 0,
                    totalPages: 1,
                },
                loadingMessage: ''
            }
        },
        mounted() {
            this.apiToken = Laravel.apiToken.token;
            axios.defaults.headers.common['Authorization'] = "Bearer "+ this.apiToken;
            this.loadingMessage = "Getting data...";
            this.loadInitialDataset();
            axios.get('/api/etsy2shop/getTrackingOrders/1')
                .then(
                    response => {
                        this.transactionItems = response.data;
                        this.loadingMessage = '';
                        console.log(response.data);
                    },
                    error => {
                        window.location.href = '/home/';
                    }
                );
        },
        methods: {
            loadInitialDataset: function() {
                //get all the listings from the API. populate each item from this data
                this.paginatePage = 1;
                axios.get('/api/etsy2shop/getPageCounts')
                    .then(response => {
                        console.log(response.data);
                        this.paginationPageCount = Math.ceil(response.data.length / this.paginateItemsPerPage);
                        console.log('pages=' + this.paginationPageCount);
                        this.paginationStats.totalItems = reponse.data.length;
                        this.paginationStats.totalPages = Math.ceil(response.data.length / this.paginateItemsPerPage);
                        console.log("total="+ this.paginationStats.totalPages);
                    });
            },
            paginateOnClick: function () {
                this.transactionItems = [];
                this.loadingMessage = "Fetching data...";
                    axios.get('/api/etsy2shop/getTrackingOrders/' + this.paginatePage)
                        .then(response => {
                           
                            this.transactionItems = response.data;
                            this.loadingMessage = '';
                        });
            },
            reloadDataFilter: function() {
                this.transactionItems = [];
                this.paginatePage = 1;
                this.loadingMessage = "Fetching data...";

                if(this.searchTerm.trim() !== "" && this.searchTerm.trim().length > 5) {
                    this.paginationPageCount = 1;
                    axios.get('/api/etsy2shop/search/recid/' + this.searchTerm)
                    .then(response => {
                        console.log(response.data);
                        this.transactionItems = response.data;
                        this.loadingMessage = '';
                    },
                     error => {
                            console.log(error.response);
                             this.flashMessage.error({
                                title: 'Sorry',
                                message: 'Requested Receipt Not Found'
                                })
                            }
                    );
                }

            },
            selectTrackingAllItemsForBulkSave: function () {
                //handles the select all and select none both
                for (let i = 0; i < this.$refs.mappingTrackingStatusItem.length; i++) {
                    this.$refs.mappingTrackingStatusItem[i].setTrackingSelectedForBulkSave(this.allUnsavedTrackingSelected);
                }
                this.checkAndEnableTrackingBulkMode();
            },
            checkAndEnableTrackingBulkMode: function() {
                for (let i = 0; i < this.$refs.mappingTrackingStatusItem.length; i++) {
                    if(this.$refs.mappingTrackingStatusItem[i].getTrackingSelectedForBulkSave()) {
                        this.bulkSaveMode = true;
                        return;
                    }
                }
                this.bulkSaveMode = false;
            },
            saveTrackingAllSelected: function () {
                this.bulkSaveMode = false;
                this.loadingMessage = "Saving...";
                for (let i = 0; i < this.$refs.mappingTrackingStatusItem.length; i++) {
                    if(this.$refs.mappingTrackingStatusItem[i].bulkSaveTrackingId()) {
                        console.log("Saved listing" + this.$refs.mappingTrackingStatusItem[i].listingName);

                    } else {
                        console.error("save failed");
                    }
                }

            }
        }
    }
</script>

<style scoped>

</style>