<template>
    <div class="container" style="margin-top: 25px;">
    <div class = "row" >
        <div class = "my-1 mr-sm-2">
         <input
              type="checkbox"
              ref="bulkSelection"
                   @click="changeTrackingBulkSaveMode"
                   v-model="isItemSelectedForBulkSave"
            >
    </div>
    <div class="col-md-11">
        <div class="card">
            <div class="card-header">
            <div class ="row">
                <div class="col-md-9 my-auto">
                Receipt#{{transactionData[0].receipt_id}}- Order# <a :href="'https://www.etsy.com/your/orders/sold?order_id='+transactionData.receipt_id" target="_blank"> {{transactionData.receipt_id}}</a> {{transactionData.name}}
                </div>
                    <div class="col-md-3">
                               
                           <div class="text-info" v-if="(existingTransactionMapping == null ) ">Shopify order ID: Not Found</div>
                           <div class="text-info" v-else>Shopify order ID: {{existingTransactionMapping.shopify_order_id}}</div>
                               <button ref="saveBtn" v-if="(existingTransactionMapping != null ) " v-on:click="updateTracking()" class="btn-success">Update tracking</button>  
                    </div>

                </div>
            </div>
            <div class="card-body">
                <div class="table">
                    <div class="row" style="border-bottom:2px solid black; padding:15px;" v-for="(transaction, index) in transactionData" :key="index"  v-if="(index !== 'name') && (index != 'order_id') && (index != 'receipt_id') && (index != 'create_date')">
                        <div class="col-md-12 my-auto" style="padding: 11px;"> #{{transaction.transaction_id}}: {{transaction.title}}</div>
                        <div class="col-md-4"><img  :src="transaction.thumb"></div>
                        <div class="col-md-4">  {{transaction.attribute_1}} </div>
                        <div class="col-md-2 my-auto">$ {{transaction.price}} x {{transaction.quantity}}</div>
                        <div class="col-md-2 my-auto">${{(transaction.price * transaction.quantity).toFixed(2)}}</div>
                        
                    </div>
                    
                </div>
            </div>
            </div>
        </div>
        <br>
        </div>
    </div>
</template>
<script>
    export default {
        name: "TrackingMappingCreationComponent",
        data() {
            return {
                existingTransactionMapping: null,
                isItemSelectedForBulkSave :false,
            }
        },
        props: ['receiptId','transactionData','checkAndEnableTrackingBulkMode'],
        mounted() {
            console.log(this.transactionData);
            axios.get('/api/etsy2shop/getsavedtransaction/'+ this.transactionData.receipt_id)
                .then(
                    response => {
                        this.existingTransactionMapping = response.data;
                    }, error => {
                        if(error.response.status === 404) {
                            console.log('Mapping not already made');
                        }
                    }
                )
        },
        methods: {
           updateTracking: function () {
                this.$refs.saveBtn.disabled = true;
                this.$refs.saveBtn.innerHTML = "Connecting...";
                axios.get('/api/etsy2shop/updateTracking/'+ this.transactionData.receipt_id)
                    .then(
                        response => {
                            console.log(response);
                            this.$refs.saveBtn.innerHTML = "Updated";
                            this.$refs.saveBtn.classList.replace('btn-warning', 'btn-success');
                        },
                        error => {
                            console.log(error.response);
                            this.$refs.saveBtn.innerHTML = "Error!";
                            this.$refs.saveBtn.classList.replace('btn-success', 'btn-danger');

                        }
                    );

            },
            changeTrackingBulkSaveMode: function () {
                this.isItemSelectedForBulkSave = this.$refs.bulkSelection.checked;
                this.checkAndEnableTrackingBulkMode();
            },
            setTrackingSelectedForBulkSave: function (value) {
                console.log(value);
                if(!this.existingTransactionMapping) {
                    this.isItemSelectedForBulkSave = value;
                }
                //execute the method in the parent, to show and hide the submit button

            },
            getTrackingSelectedForBulkSave: function() {
                return this.isItemSelectedForBulkSave;
            },
            bulkSaveTrackingId: function() {
                console.log(this.receiptId);
                if(this.isItemSelectedForBulkSave) {
                    this.loadingMessage = "Saving...";
                    axios.get('/api/etsy2shop/updateTracking/' + this.receiptId)
                        .then(response => {
                            this.isListingSaved = true;
                            this.isItemSelectedForBulkSave = false;
                            this.loadingMessage = "";
                            return true;
                        }, error => {
                            return false;
                        });
                } else {
                    console.log('item not selected for bulk: ' + this.receiptId);
                    return true;
                }

                return false;
            }

        }
    }
</script>

<style scoped>
    .listing-info {
        display: flex;
        vertical-align: center;
    }
</style>
