<template>
    <div class="container" style="margin-top: 25px;">
    <div class = "row">
    <div class = "my-1 mr-sm-2">
        <input
              type="checkbox"
              ref="bulkReceiptSelection"
              v-if="(existingTransactionMapping == null )"
                   @click="changeReceiptBulkSaveMode"
                   v-model="isItemSelectedForBulkSave"
            >
    </div>
    <div class="col-md-11">
        <div class="card">
            <div class="card-header">
            <div class ="row">
                <div class="col-md-10 my-auto">{{transactionData.create_date}}</div>
                <div class="col-md-10 my-auto">
                Receipt#{{transactionData.receipt_id}}- Order# <a :href="'https://www.etsy.com/your/orders/sold?order_id='+transactionData.receipt_id" target="_blank"> {{transactionData.receipt_id}}</a> {{transactionData.name}}
                </div>
                <div class="col-md-2 my-auto" v-if="!isItemSelectedForBulkSave">
                            <button ref="saveBtn" v-if="(existingTransactionMapping == null ) " v-on:click="createMapping()" class="btn-warning">Send to Shopify</button>
                            <div class="text-info" v-else>Shopify order ID: {{existingTransactionMapping.shopify_order_id}}</div>   
                        </div>
                    </div>
            </div>
            <div class="card-body">
                <div class="table">
                    <div class="row" style="border-bottom:2px solid black; padding:15px;" v-for="(transaction, index) in transactionData" :key="index" v-if="(index !== 'name') && (index != 'order_id') && (index != 'receipt_id') && (index != 'create_date') ">
                        <div class="col-md-12 my-auto" style="padding: 11px;"> #{{transaction.transaction_id}}: {{transaction.title}}</div>
                        <div class="col-md-4"> <img  :src="transaction.thumb"></div>
                        <div class="col-md-2 my-auto">$ {{transaction.price}} x {{transaction.quantity}}</div>
                        <div class="col-md-2 my-auto">${{(transaction.price * transaction.quantity).toFixed(2)}}</div>
                        
                    </div>
                    
                </div>
            </div>
            </div>
        </div>
        <br>
        </div>
    </div>
</template>

<script>
    export default {
        name: "TransactionMappingCreationComponent",
        data() {
            return {
                existingTransactionMapping: null,
                isItemSelectedForBulkSave :false,
                ReceiptTransaction:''
            }
        },
        props: ['receiptId','transactionData','checkAndEnableReceiptBulkMode'],
        mounted() {
            console.log(this.transactionData[0].receipt_id);
            if(this.transactionData[0].receipt_id) 
            {
                this.ReceiptTransaction = this.transactionData[0].receipt_id;
            } else {

                this.ReceiptTransaction = this.receipt_id;

            }
            console.log(this.ReceiptTransaction);
            axios.get('/api/etsy2shop/getsavedtransaction/'+ this.ReceiptTransaction)
                .then(
                    response => {
                        this.existingTransactionMapping = response.data;
                    }, error => {
                        if(error.response.status === 404) {
                            console.log('Mapping not already made');
                        }
                    }
                )
        },
        methods: {
            createMapping: function () {
                this.$refs.saveBtn.disabled = true;
                this.$refs.saveBtn.innerHTML = "Connecting...";
                axios.get('/api/etsy2shop/createshopifydraft/'+ this.transactionData.receipt_id)
                    .then(
                        response => {
                            console.log(response);
                            this.$refs.saveBtn.innerHTML = "Order saved";
                            this.$refs.saveBtn.classList.replace('btn-warning', 'btn-success');
                            this.flashMessage.success({
                                title: 'Success',
                                message: 'Your Order Saved'
                            })
                        },
                        error => {
                            console.log(error.response.data);
                             this.flashMessage.error({
                                title: 'Sorry',
                                message: error.response.data
                                })
                            this.$refs.saveBtn.innerHTML = "Error!";
                            this.$refs.saveBtn.classList.replace('btn-warning', 'btn-danger');

                        }
                    );

            },
            changeReceiptBulkSaveMode: function () {
                this.isItemSelectedForBulkSave = this.$refs.bulkReceiptSelection.checked;
                this.checkAndEnableReceiptBulkMode();
            },
            setReceiptSelectedForBulkSave: function (value) {
                console.log(value);
                if(!this.existingTransactionMapping) {
                    this.isItemSelectedForBulkSave = value;
                }
                //execute the method in the parent, to show and hide the submit button

            },
            getReceiptSelectedForBulkSave: function() {
                return this.isItemSelectedForBulkSave;
            },
            bulkSaveReceiptId: function() {
                if(this.isItemSelectedForBulkSave) {
                    this.loadingMessage = "Saving...";
                    axios.get('/api/etsy2shop/createshopifydraft/' + this.receiptId)
                        .then(response => {
                            this.isListingSaved = true;
                            this.isItemSelectedForBulkSave = false;
                            this.loadingMessage = "";
                            return true;
                        }, error => {
                            return false;
                        });
                } else {
                    console.log('item not selected for bulk: ' + this.receiptId);
                    return true;
                }

                return false;
            }
        }
    }
</script>

<style scoped>
    .listing-info {
        display: flex;
        vertical-align: center;
    }
</style>
