<template>

    <div class="container">
        <div class="row"> 
            <div class="col-md-2"> 
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="defaultUnchecked" 
                     v-on:change="selectReceiptAllItemsForBulkSave()" v-model="allUnsavedReceiptSelected">
                    <label class="custom-control-label" for="defaultUnchecked"></label>
                </div>
            </div>
            <div class="col-md-6">
                <label for="search-term">Search Username/id:</label>
                <input type="text" 
                    id="search-term" 
                    ref="searchTermText" 
                    v-model="searchTerm" />
                <button v-if="searchTerm.length > 0" @click="function() {  reloadDataWithSearch()}">Go</button>
            </div>
             <div class="col-md-4">
                     <select class="form-control" id="mapping-type" ref="receiptTypeSelection" v-on:change="reloadDataWithFilter" v-model="filterString">
                        <option :selected="true">New</option>
                        <option>Ordered</option>
                    </select>
                </div>
            <div class="col-md-12"> 
                <button v-if="bulkSaveMode" class="btn-info" style="float: right;
                    margin-top: 20px;" @click="saveReceiptAllSelected()">Submit</button>
            </div>
        </div>
        <transaction-item
            v-for="(transactionItem, index) in transactionItems"
            v-bind:key="index"
            :receipt-id="transactionItem.receipt_id"
            :transactionData="transactionItem"
            ref="mappingReceiptStatusItem"
            :checkAndEnableReceiptBulkMode="checkAndEnableReceiptBulkMode">
        </transaction-item>
        <FlashMessage></FlashMessage>
         <div class="row"><div v-if="this.loadingMessage.length > 0">{{ this.loadingMessage }}</div></div>
        <paginate
            :page-count="paginationPageCount"
            :container-class="'pagination'"
            :page-class="'page-item'"
            :click-handler="paginateOnClick"
            v-model="paginatePage">
        </paginate>
    </div>
    </div>

</template>

<script>
    export default {
        name: "TransactionMappingContainerComponent",
        data() {
            return {
                transactionItems: null,
                searchTerm: "",
                filterString: "New",
                paginatePage: 1,
                bulkSaveMode: false,
                allUnsavedReceiptSelected: false,
                paginateItemsPerPage: 10,
                paginationPageCount: 1,
                paginationStats: {
                    totalItems: 0,
                    totalPages: 1,
                },
                loadingMessage: ''
            }
        },
        mounted() {
            this.apiToken = Laravel.apiToken.token;
            axios.defaults.headers.common['Authorization'] = "Bearer "+ this.apiToken;
            this.loadingMessage = "Getting data...";
            this.loadInitialDataset();
            axios.get('/api/etsy2shop/getPageTransactions/1')
                .then(
                    response => {
                        this.transactionItems = response.data;
                        this.loadingMessage = '';
                        console.log(response.data);
                    }
                );
        },
        methods: {
            loadInitialDataset: function() {
                //get all the listings from the API. populate each item from this data
                this.paginatePage = 1;
                axios.get('/api/etsy2shop/getetsytransactions')
                    .then(response => {
                        console.log(response.data);
                        this.paginationPageCount = Math.ceil(response.data.length / this.paginateItemsPerPage);
                        console.log('pages=' + this.paginationPageCount);
                        this.paginationStats.totalItems = reponse.data.length;
                        this.paginationStats.totalPages = Math.ceil(response.data.length / this.paginateItemsPerPage);
                        console.log("total="+ this.paginationStats.totalPages);
                    });
            },
            paginateOnClick: function () {
                this.transactionItems = [];
                this.loadingMessage = "Fetching data...";
                    axios.get('/api/etsy2shop/getPageTransactions/' + this.paginatePage)
                        .then(response => {
                           
                            this.transactionItems = response.data;
                            this.loadingMessage = '';
                        });
            },
            reloadDataWithFilter: function() {
                this.transactionItems = [];
                this.paginatePage = 1;
                this.loadingMessage = "Fetching data...";

                //if there is a search term, use that filters.
                let mode = this.filterString.replace(' ', '').toLowerCase();
                if(mode == "ordered") {
                    axios.get('/api/etsy2shop/getOrderReceipt' )
                        .then(response => {
                            console.log(response.data);
                            this.paginationPageCount = 1;
                            this.transactionItems = response.data;
                            this.loadingMessage = '';
                        });
                }else if(mode == "new") {
                    axios.get('/api/etsy2shop/getNewReceipt/' + mode )
                        .then(response => {
                            console.log(response.data);
                            this.paginationPageCount = 1;
                            this.transactionItems = response.data;
                            this.loadingMessage = '';
                        });
                }

                
                }, reloadDataWithSearch: function() {

                    //if there is a search term, use that not the filters.
                if(this.searchTerm.trim() !== "" && this.searchTerm.trim().length > 5) {
                    this.paginationPageCount = 1;
                    axios.get('/api/etsy2shop/search/rid/' + this.searchTerm)
                    .then(response => {
                        console.log(response.data);
                        this.transactionItems = response.data;
                        this.loadingMessage = '';
                    },
                     error => {
                            console.log(error.response);
                             this.flashMessage.error({
                                title: 'Sorry',
                                message: 'Requested User Not Found'
                                })
                            });
                }

                },
                selectReceiptAllItemsForBulkSave: function () {
                //handles the select all and select none both
                for (let i = 0; i < this.$refs.mappingReceiptStatusItem.length; i++) {
                    this.$refs.mappingReceiptStatusItem[i].setReceiptSelectedForBulkSave(this.allUnsavedReceiptSelected);
                }
                this.checkAndEnableReceiptBulkMode();
            },
            checkAndEnableReceiptBulkMode: function() {
                for (let i = 0; i < this.$refs.mappingReceiptStatusItem.length; i++) {
                    if(this.$refs.mappingReceiptStatusItem[i].getReceiptSelectedForBulkSave()) {
                        this.bulkSaveMode = true;
                        return;
                    }
                }
                this.bulkSaveMode = false;
            },
            saveReceiptAllSelected: function () {
                this.bulkSaveMode = false;
                this.loadingMessage = "Saving...";
                for (let i = 0; i < this.$refs.mappingReceiptStatusItem.length; i++) {
                    if(this.$refs.mappingReceiptStatusItem[i].bulkSaveReceiptId()) {
                        console.log("Saved listing" + this.$refs.mappingReceiptStatusItem[i].listingName);

                    } else {
                        console.error("save failed");
                    }
                }

            }
        }
    }
</script>

<style scoped>

</style>
